@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Nunito:wght@300;400;500;600;700&display=swap');


:root{
--color-500: hsl(0, 0%, 20%);
--color-400: hsl(231, 3%, 48%);
--color-300: hsl(0, 0%, 48%);
--color-200: hsl(255, 4%, 81%);
--color-100: hsl(0, 25%, 98%);

--ff-001:'Comfortaa', sans-serif;
--ff-002:'Nunito', sans-serif;

--fw-300:300;
--fw-400:400;
--fw-500:500;
--fw-600:600;
--fw-700:700;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: var(--color-100);
    width: 100%;
}

.nav{
    width: min(75rem,100%);
    margin-inline: auto;
    padding: 1.5rem .8rem;
    position: sticky;
    top: 0;
    z-index: 99;
    background: var(--color-100);

}

.navbar__wrapper{
    font-family: var(--ff-001);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo .logo{
    color: var(--color-500);
    font-weight: var(--fw-700);
    font-size: 1.8rem;
}

.navbar__list{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar__list .navbar__link{
    text-decoration: none;
    color: var(--color-400);
    font-size: .8rem;
    font-weight: var(--fw-700);
    transition: color .3s ease, transform 200ms ease-out;
}

.navbar__list .navbar__link:hover{
    color: var(--color-500);
    transform: scale(1.2);
}

.menu{
    display: none;
}

/* hero section start here */

 .hero{
    width: min(75rem, 100%);
    margin-inline: auto;
    margin-top: 4em;
    font-family: var(--ff-002);
    /* border: 1px solid red; */
}

.hero__wrapper{
    padding: 1.5rem 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.left__box{
    display: flex;
    gap: 6rem;
    align-items: center;
    justify-content: space-between;
}
.social__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
}

.social__link .link{
    text-decoration: none;
    transition: transform 240ms ease-in;
}

.social__link .link:hover{
    transform: scale(1.2);

}

svg{
    fill: var(--color-400);
    transition: fill 240ms ease-in;
}

.social__link .link:hover svg{
    fill: var(--color-500);
}

.text__contant{
    margin-left: 80px;
    margin-bottom: 4.9rem; 
    width: 350px;
}

.text__contant .title{
    font-size: 2.8rem;
    font-weight: var(--fw-700);
    color: var(--color-500);
}

.status{
    position: relative;
    transform: translateX(6.2rem);
    color: var(--color-400);
    font-weight: var(--fw-600);
    margin-top: 1.2rem;
    width: max-content;
}

.status::before{
    content: "";
    position: absolute;
    top: 43%;
    left: -6.2rem;
    width: 5rem;
    height: 1.5px;
    background-color: var(--color-400);
} 
.subtitle{
    color: var(--color-400);
    font-weight: var(--fw-500);
    margin-top: 1.4rem;
    line-height: 1.4;
    font-size: 14px;
}

.btn{
    margin-top:3.6rem ;
    width: fit-content;
}
.button{
    display: flex;
    align-items: center;
    padding:8px 18px ;
    font-weight: var(--fw-700);
    color: var(--color-100);
    background-color: var(--color-500);
    outline: none;
    border: none;
    border-radius: 6px;
    -webkit-box-shadow: 4px 6px 19px -4px var(--color-500);
    -moz-box-shadow: 4px 6px 19px -4px var(--color-500);
    box-shadow: 4px 6px 19px -4px var(--color-500);
    transition: transform 240ms ease;
}

.btn:hover .button{
    transform: scale(1.1);
}

.btn:hover .send{
    animation: send ease 1.8s infinite;   
}

@keyframes send {
	0% , 100%{
		transform: translateY(0);
	}
	50% {
		transform: translateY(10px);
    }    
}

.scroll__box{
    width: fit-content;
    display: flex;
    align-items: center;
    gap: .5rem;
    transform: translateY(80px);
}

@keyframes scroll {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(100px);
	}
}

.scroll__box:hover #wheel {
	animation: scroll ease 1.5s infinite;
}

.scroll__box p{
    font-size: 13px;
    font-weight: var(--fw-600);
    color: var(--color-400);

}
.img__contant img{
    width: 25rem;
} 

/* skills section starts */

.skills,
.projects{
    width: min(75rem,100%);
    margin-inline: auto;
    margin-top: 6em;
    font-family: var(--ff-002);
    padding: 1.5rem 0.8rem;
}

.skills .skills__header,
.project__header{
    text-align: center;
}

.skills .skills__header h2,
.project__header h2{
    font-size: 2.8rem;
    color: var(--color-500);
}

.skills .skills__header p,
.project__header p{
    font-size: .8rem;
    color: var(--color-400);
    font-weight: var(--fw-600);
}

.skills__wrapper{
    margin-top: 4em;
}

.skills__row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skills__row h3{
    font-size: 1.6rem;
    color: var(--color-500);
    position: relative;
}

.skills__row h3::after{
    content: '';
    position: absolute;
    width: calc(1rem + 100%);
    height: 4px;
    left: 0;
    bottom: 0;
    border-radius: 8px;
    background: var(--color-400);
}

.skill__icon{
    display: grid;
    grid-template-columns: repeat(3 ,80px);
    gap: 1.4rem;
    padding: 1rem;
}

.skill__icon div{
    height: 80px;
    width: 80px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0px 0px 68px -20px var(--color-500);
}

.skill__icon div svg{
    transform: translateY(80%);
    transition: transform 0.3s ease;
}

.skill__icon div .tech{
    color: var(--color-500);
    font-size: 14px;
    font-weight: var(--fw-600);
    transform: translateY(22px);
    transition: transform 0.4s ease, opacity 0.3s ease;
    opacity: 0;
}

.skill__icon div .level{
    color: var(--color-400);
    font-size: 12px;
    font-weight: var(--fw-700);
    transform: translateY(22px);
    transition: transform 0.4s ease .3s, opacity 0.3s ease 0.3s;
    opacity: 0;
}

.skill__icon div:hover .tech{
    transform: translateY(0);
    opacity: 1;
}

.skill__icon div:hover .level{
    transform: translateY(0);
    opacity: 1;
}

.skill__icon div:hover svg{
    transform: translateY(10%);
}
.skill__icon div:hover:nth-child(1) svg{
    fill: #E65100;
}
.skill__icon div:hover:nth-child(2) svg{
    fill: #2AA4F4;
}
.skill__icon div:hover:nth-child(3) svg{
    fill: #FFD600;
}
.skill__icon div:hover:nth-child(4) svg{
    fill: #80DEEA;
}
.skill__icon div:hover:nth-child(5) svg{
    fill: #00ACC1;
}
.skill__icon div:hover:nth-child(6) svg{
    fill: #21a366;
}

._tool{
    flex-direction: row-reverse;
    margin-top: 4rem;
}

._tool h3::after{
    left: -16px;
}

.tool div:hover:nth-child(1) svg{
    fill:  #0069B0;
}
.tool div:hover:nth-child(2) svg{
    fill: #F4511E;
}
.tool div:hover:nth-child(3) svg{
    fill: #000;
}
.tool div:hover:nth-child(4) svg{
    fill: #000;
}
.tool div:hover:nth-child(5) svg{
    fill: #D50000;
}
.tool div:hover:nth-child(6) svg{
    fill: #000;
}
/*  */
.project__wrapper{
    margin-top: 4em;
}

.project__title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.project__title p{
    font-weight: var(--fw-700);
    color: var(--color-500);
    position: relative;
}
.project__title  svg{
    transform: rotate(270deg);
}

.project__link a{
    padding: 2px 12px;
    border: 2px solid #0069B0;
    border-radius: 4px;
    color: var(--color-500);
    text-decoration: none;
    font-size: 14px;
    font-weight: var(--fw-700);
}

.project__subtitle{
    width: 400px;
    transform: translateX(140px);
    margin-left:auto ;
    margin-right: auto;
    margin-top: .8rem;
}
.project__subtitle p{
    font-size: 14px;
    color: var(--color-400);
    font-weight: var(--fw-700);
}
#tech-stack{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 3rem;
}

/* mwdia querees */

@media (max-width:430px){
    .nav{
        width: min(75rem, 100%);
        padding: 1rem .8rem;
        font-family: var(--ff-001);
        position: relative;
    }
    .navbar__list{
        position: absolute;
        inset: 80px 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 50vh;
        width: 80%;
        gap: 1.8rem;
        box-shadow: 0px 0px 68px -40px var(--color-500);
        transform: translateY(-540px);
        opacity: 0;
        transition: all 0.3s ease;
        background-color: #fff;
    }
    .show{
        opacity: 1;
        transform: translateY(0);
    }
    .menu{
        display: block;
    }

    .hero{
        margin-top: 0;
    }
    .hero__wrapper{
        flex-direction: column;
    }
    .text__contant{
        margin-left: 0px;
        margin-bottom: 0;
        width: auto; 
    }
    .left__box{
        gap: 2rem;
        margin-top: 2rem;
    }
    .social__link{
        align-items: left;
    }
    .text__contant .title{
        font-size: 2rem;
    }
    .img__contant img{
        width: 20rem;
    } 
    .btn{
        margin-top:2.8rem ;
    }
    .scroll__box{
        display: none;
    }
    .skills__row{
        flex-direction: column;
    }
    .skills__row h3::after{
        width: 100%;
    }
    ._tool h3::after{
        left: 0;
    }
    .project__title{
        flex-direction: column;
        gap: .8rem;
    }
    .project__title  svg{
        display: none;
    }
    .project__link{
        transform: translateX(0px);
        opacity: 1;
        transition: all 0.3s ease-in;
    }
    .project__subtitle{
        width: 350px;
        transform: translateX(0px);
        margin-top: 1.8rem;
        text-align: center;
    }
    #tech-stack{
        padding: 0 1rem;
    }
}